# Environment
.env
.vscode/
.DS_Store
__pycache__/

# Cache & intermediate state
cache/
result/checkpoints/

# Full datasets (large size + copyright)
dataset/hotpotqa.json
dataset/hotpotqa_corpus.json
dataset/musique.json
dataset/musique_corpus.json
dataset/2wikimultihopqa.json
dataset/2wikimultihopqa_corpus.json
